/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

/* .wp-block-cgb-block-uneekproduction-block  {

} */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

/* OUR CSS START*/

#editContainerUneekProd{
    background: #ff95b3;
    border-radius: 10px;
    display: grid;
}

 #getStartedContainer{
    padding-bottom: 10px;
    background: #ff95b3;
    border:  5px dotted #fff195;
    border-radius: 10px;
    padding: 5px;
}

#submitCancelIndieGoGo{
    display: flex;
    justify-content: center;
}

#titleAndCreateSVG{
    display: flex;
    justify-content: space-around;
}

#createSVGContainer{
    align-self: center;
    animation: animatePen 2s 1s infinite;
}

#getStartedTitle{
    font-family: 'Amatic SC', cursive;
    font-size: 46px;
    padding: 0px;
}

#getStartedBlurb{
    font-family: 'Open Sans Condensed', sans-serif;
}

@keyframes animatePen{
        0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-25px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(-7px); }
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(1,1)      translateY(0); }
}

// CSS for the upload image components

button {

    &.remove-image {
  
        background-color: #1e1e1e;
        border: 2px #1e1e1e solid;
        padding: 5px 5px 0;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .9;
  
        svg {
            background: #1e1e1e;
            fill: white;
        }
  
        &:hover {
            opacity: 1;
        }
  
    }
  
  }
  
.editor-rich-text{
    border: 0.5px solid black;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

#mce_0{
    text-align: center;
}

// Upload components CSS end 