/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
 @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

 @media only screen and (max-width: 600px){
  .artworkContainer{
    display: grid !important;
    text-align: center;
    margin: 0 auto !important;
    text-align: -webkit-center;
  }
  .productionImages{
    margin: 10px !important;
    width: 100% !important;
  }
}
.wp-block-cgb-block-uneekproduction-block  {
  background: #fff195;
  border: 0.5rem solid #1e1e1e;
  color: #1e1e1e;
  margin: 0 auto;
  padding: 2rem;
}

#productionTitle{
  font-size: 80px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 70px;
}

#productionDescription{
  font-size: 30px;
  line-height: 110%;
  color: #1e1e1e;
  padding: 15px;
}


.productionImages{
  width: 45%;
  align-self: flex-start;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(30,30,30,1);
  -moz-box-shadow: 4px 4px 5px 0px rgba(30,30,30,1);
  box-shadow: 4px 4px 5px 0px rgba(30,30,30,1);
}

.artworkContainer{
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: row;
  height: 100%;
}

.titleAndFBLink{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}