/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
 @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

 @media only screen and (max-width: 550px){
  .artworkContainer{
    display: grid !important;
    text-align: center;
    margin: 0 auto !important;
    text-align: -webkit-center;
  }
  .productionImages{
    padding: 10px !important;
    width: 100% !important;
  }
}
.wp-block-cgb-block-uneekproduction-block  {
  background: #fff195;
  border: 0.5rem solid #1e1e1e;
  color: #1e1e1e;
  margin: 0 auto;
  padding: 2rem;
}

#productionTitle{
  font-size: 80px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 70px;
}

#productionDescription{
  font-size: 32px;
  line-height: 100%;
}


.productionImages{
  width: 45%;
  align-self: flex-start;
}

.artworkContainer{
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: row;
  height: 100%;
}

.titleAndFBLink{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}